<!--
    Checkpoint #40 - Topics and Posts
    The Topics controller file was created by executing the following statement
    in the IRB:
         'rails g controller topics index new show edit'
<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>
-->
<h1><%= @topic.name %></h1>

<% if policy(@topic).update? %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>

<div class="row">
    <div class="col-md-8">
        <p class="lead"><%= @topic.description %></p>
        <% @posts.each do |post| %>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">
                        <!--
                            Checkpoint #40 - Topics and Posts
                            
                            Looking at our 'rake routes' output, how do you
                            think this path helper needs to change? If you
                            guessed '&lt;= link_to post.title,
                            topic_post_path(@topic, post) %&gt;' you're
                            correct. But we'll actually see sometihng more
                            idiomatic and similar to our previous
                            'lt;%= link_to post.title, post %gt;'.
                            &lt;%= link_to post.title, post %&gt;
                        -->
                        <!--
                            Checkpoint #40 - Topics and Posts
                            
                            Remember, even though you didn't explicitly
                            declare 'topic_post_path', Rails extracts it
                            from the '@topic' and 'post' in this example.
                            This is yet another example of Rails
                            conventions. If this "Rails magic" still
                            doesn't make sense, please consult with your
                            mentor.
                        -->
                        <!--
                            Checkpoint #43 - Post Markdown
                            
                        &lt;%= link_to post.title, [@topic, post] %&gt;
                        -->
                        <%= link_to (markdown_to_html post.title), [@topic, post] %>
                    </h4>
                    <small>
                        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br />
                    </small>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-4">
        <% if policy(Post.new).create? %>
            <!--
                Checkpoint #40 - Topics and Posts
                
                In 'app/views/topics/show.html.erb', we linked to
                'new_post_path(@post)'. As our 'rake routes' output shows, this
                helper is no longer available. (In fact, if you vist a topic's
                'show' page, you'll see a 'NoMethodError' pointing to this fact).
                Instead, we need to reference the 'new_topic_post'.
                
                &lt;%= link_to "New Post", new_post_path(@topic), class: "btn btn-success' %&gt;
            -->
            <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
        <% end %>
    </div>
</div>