<!--
    Checkpoint #42 - Validating Posts
    
    The underscore at the beginning of a name lets Rails know that this
    file is a partial.
    
    Note how we render our partial in in the 'edit' and 'new' views:
    
        &lt;%= render partial: 'form', locals: { topic: @topic, post: @post } %gt;

    This tells the 'render' method to paste in the '_form.html.erb' file
    in its current directory, after passing in 'topic' and 'post' as
    local variable. When we write locals: { topic: @topic, post: @post },
    we're telling Rails to render the '_form' view after assigning 'topic'
    and 'post' to equal '@topic' and '@post', respectively. This means, we
    should refer to these local variables, rather than the instance
    variables we used in the 'edit' view here.
    
    Although the partial has access to the @topic and @post instance
    variables, it's a best practice to use local variable in order to
    promote flexibility. We want to be able to render a given partial
    on any page, whether or not it has two instance varabiles with
    those naems.
    
    The partial view is called '_form.html.erb', which is identified
    in the 'render' method by "partial: 'form'". This is a Rails
    convention for partial naming. If we don't follow it, the partial
    will not be found.

&lt;%= form_for [@topic, @post] do |f| %&gt;
-->
<%= form_for [topic, post] do |f| %>
    <% if post.errors.any? %>
        <div class="alert alert-danger">
            <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
            <ul>
                <% post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!--

        Assignmet #44 - Uploading Images
    
           - Add image uploading to app/views/posts/_form.html.erb.
    -->
    <% if post.image? %>
      <div class="form-group">
        <p>Current image</p>
          <%= image_tag(post.image.profile.url) %>
      </div>
    <% end %>
    <div class="form-group>">
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
    </div>
    <%= form_group_tag(post.errors[:title]) do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
    <% end %>
    <%= form_group_tag(post.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
    <% end %>
    <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>