<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
    <meta name="viewport" contgent="width=device-width, initial-scale=1"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <!--
          The Rails 'link_to' method returns a qualified HTML anchor tag. For example,
        
              link_to "Home", welcome_index_path
        
          renders
        
              <a href="/welcome/index">Home</a>
        -->
        
        <!--
          Checkpoint #33 - CRUD
          
          "...change the two link_to lines:
        <li>&lt;%= link_to "Bloccit", welcome_index_path %&gt;</li>
        <li>&lt;%= link_to "About", welcome_about_path %&gt;</li>
        -->
        <li><%= link_to "Bloccit", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        
        <!--
          Checkpoint #59 - Popular Posts
          
          The page (i.e., popular posts page) is not linked to anywhere on our application. Let's create a link to our popular posts in the header. While we're there, let's link to the topics index as well. Open app/views/layouts/application.html.erb and add.
        -->
        <li><%= link_to "Topics", topics_path %></li>
        <li><%= link_to "Popular", posts_path %></li>
        
        <!--
          Checkpoint #59 - Popular Posts
          
          Finally, let's add a link to the header so users can visit this new view. (after creating the user 'index' and partial views)
        -->
        <li><%= link_to "Users", users_path %></li>
      </ul>
      
      <!-- Checkpoint #35 - More CRUD -->
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      
      <!--
        Checkpoint #37 - Authentication Continued
        
        See the 'Current User' section.
      -->
      <div class="pull-right user-info">
        <% if current_user %>
          <!--
            Checkpoint #44 - Uploading Images
            
            Let's modify our header nav so it displays user images if available.
          -->
          <%=   image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>

          <!--
            Checkpoint #40 - Topics and Posts
            
            Update the 'user-info div' to user the 'current_user' name.
            
            Hello &lt;%= current_user.email %&gt;! lt;%= link_to "Sign out", destroy_user_session_path, method: :delete %&gt;
          -->
          
          <!--
            Checkpoint #41 - Interlude
            
            Make the following changes to app/views/layouts/application.html.erb
            
          Hello &lt;%= current_user.name %&gt;! &lt;%= link_to "Sign out", destroy_user_session_path, method: :delete %&gt;
          
            This change creates a link to the signed-in user's profile edit page.
            The link text displays the user's email if the user's name hasn't been
            set.
          -->
          
          <!--
            Checkpoint #58 - Public Profiles
            
            Right now, users can only visit their profiles if they enter the URL. Let's create a nav link that takes users to this page. Open application.html.erb and make the following changes.
            
          Hello %= link_to (current_user.name || current_user.email), edit_user_registration_path %>! %= link_to "Sign out", destroy_user_session_path, method: :delete %>
          
          We're adding a link to the profile page and changing two of our link_to calls to use nested HTML with Bootstrap icons, rather than just link text.
          -->
          Hello <%= link_to (current_user.name || current_user_email), current_user %>!
          
          <%= link_to edit_user_registration_path, clas: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
          
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
      
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning" >
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
    
      <%= yield %>
    </div>
  </body>
</html>